<strong>Olá {{ student }}, </strong>
<p>Sua matrícula foi efetuada!</p>

<p>
  Plano: <strong>{{ plan }}</strong> <br>
  Data de término: <strong>{{ end_date }}</strong> <br>
  Valor: <strong>{{ value }}</strong> <br>
</p>
